<a href="https://colab.research.google.com/github/ankak2635/Credit-Card-Fraud-Detection/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing the dataset using Kaggle API â¤µðŸ“„**

Credit card dataset from kaggle using API

In [ ]:
#installing the Kaggle library
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
# configuring the path of kaggle.json file
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
#API to fetch dataset from kaggle
!kaggle datasets download -d mlg-ulb/creditcardfraud

Downloading creditcardfraud.zip to /content
 82% 54.0M/66.0M [00:00<00:00, 73.4MB/s]
100% 66.0M/66.0M [00:00<00:00, 122MB/s]

In [ ]:
# Extracting the zip files
from zipfile import ZipFile
dataset_path = '/content/creditcardfraud.zip'

with ZipFile(dataset_path, 'r') as zip:
  zip.extractall()
  print("The dataset has been extracted")

The dataset has been extracted

## **Credit Card Fraud Detection Project**

Importing the libraries.

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# loading the dataset
credit_card_df = pd.read_csv('/content/creditcard.csv')

**EDA**

In [ ]:
credit_card_df.shape

(284807, 31)

In [ ]:
credit_card_df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

The variables names are not descriptive due to privacy reasons

In [ ]:
credit_card_df.tail()

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

Class 1 --> Fraud

Class 0 ---> Legit

In [ ]:
credit_card_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
# check for missing values
credit_card_df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
# stats insight
credit_card_df.describe()

                Time            V1  ...         Amount          Class
count  284807.000000  2.848070e+05  ...  284807.000000  284807.000000
mean    94813.859575  3.918649e-15  ...      88.349619       0.001727
std     47488.145955  1.958696e+00  ...     250.120109       0.041527
min         0.000000 -5.640751e+01  ...       0.000000       0.000000
25%     54201.500000 -9.203734e-01  ...       5.600000       0.000000
50%     84692.000000  1.810880e-02  ...      22.000000       0.000000
75%    139320.500000  1.315642e+00  ...      77.165000       0.000000
max    172792.000000  2.454930e+00  ...   25691.160000       1.000000

[8 rows x 31 columns]

In [ ]:
# distribution of legit and fraud transaction
credit_card_df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

The dataset is highly unbalanced.

In [ ]:
credit_card_df.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

In [ ]:
# separating the data for analysis
legit = credit_card_df[credit_card_df.Class == 0]
fraud = credit_card_df[credit_card_df.Class == 1]

In [ ]:
legit.shape

(284315, 31)

In [ ]:
fraud.shape

(492, 31)

In [ ]:
legit['Amount'].describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
fraud['Amount'].describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

# **Treating the disbalance**

**Under-Sampling**

Create a df which contains similar amount of both classes' observations

In [ ]:
legit_sample = legit.sample(n=492)

In [ ]:
# Concat legit_sample and fraud dataframes
final_df = pd.concat([legit_sample, fraud], axis = 0)

In [ ]:
final_df.shape

(984, 31)

In [ ]:
final_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [ ]:
final_df.head()

            Time        V1        V2  ...       V28  Amount  Class
224878  144008.0  1.439274 -1.297654  ...  0.006690  284.06      0
24580    33286.0  1.156804 -1.061558  ...  0.018584  114.71      0
134915   81029.0  0.935829 -0.889857  ...  0.022352  142.76      0
82139    59260.0 -1.433146  0.639578  ... -0.148680   77.90      0
31390    36346.0 -0.634011  0.555985  ...  0.128903   40.00      0

[5 rows x 31 columns]

In [ ]:
final_df.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      91455.367886  0.051932 -0.031319  ... -0.013527  0.011017   98.022358
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

In [ ]:
credit_card_df.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

The sample represents the original data fairly good.

# **Preprocessing & Model Training**

Separating target from features

In [ ]:
X = final_df.drop('Class', axis = 1)
Y = final_df['Class']

In [ ]:
X.head()

            Time        V1        V2  ...       V27       V28  Amount
224878  144008.0  1.439274 -1.297654  ... -0.035252  0.006690  284.06
24580    33286.0  1.156804 -1.061558  ... -0.011595  0.018584  114.71
134915   81029.0  0.935829 -0.889857  ... -0.067564  0.022352  142.76
82139    59260.0 -1.433146  0.639578  ... -0.044446 -0.148680   77.90
31390    36346.0 -0.634011  0.555985  ... -0.120555  0.128903   40.00

[5 rows x 30 columns]

In [ ]:
Y.head()

224878    0
24580     0
134915    0
82139     0
31390     0
Name: Class, dtype: int64

**Train test split**

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 1, stratify = Y)

Check the split ratio

In [ ]:
print(Counter(Y_train), Counter(Y_test))

Counter({0: 394, 1: 393}) Counter({1: 99, 0: 98})

Both train and test data contains 50:50 of 0s and 1s

**Model Training**

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(X_train, Y_train)

LogisticRegression()

**Model Evaluation**

In [ ]:
# Accuracy score on training data
train_pred = model.predict(X_train)
acc_train = accuracy_score(train_pred, Y_train)
print("Accuracy score on trianing data:",acc_train)

Accuracy score on trianing data: 0.9491740787801779

In [ ]:
# Accuracy score on test data
test_pred = model.predict(X_test)
acc_test = accuracy_score(test_pred, Y_test)
print("Accuracy score on test data:",acc_test)

Accuracy score on test data: 0.9137055837563451

**Model does not suffer from overfitting**

# **Building a predictive system**

First input data are the parameters of a legit transaction

Second input data are the parameters of a fraudulent transcation

In [ ]:
# input_data = (98967,0.0367970486610003,0.805747796467771,0.222735338586993,-0.59456499468351,0.625669526327528,-0.510805352830764,0.714699120294125,-0.0258757724098354,1.2408518390186,-0.569893656528747,1.03640225900994,-2.64139340581378,0.139589673002314,2.01536165553833,-1.64085551204399,0.284103109599178,-0.0140906798756155,0.361483174449366,0.191436576492114,-0.148921559719423,-0.407166727878275,-0.856256047708593,0.0322221962381484,-0.602162865600195,-0.529386746305225,0.11673956948849,0.205585633032438,0.0728095159488246,5.25)
input_data = (472.0, -3.0435406239976, -3.15730712090228, 1.08846277997285, 2.2886436183814, 1.35980512966107, -1.06482252298131, 0.325574266158614, -0.0677936531906277, -0.270952836226548, -0.838586564582682, -0.414575448285725, -0.503140859566824, 0.676501544635863, -1.69202893305906, 2.00063483909015, 0.666779695901966, 0.599717413841732, 1.72532100745514, 0.283344830149495, 2.10233879259444, 0.661695924845707, 0.435477208966341, 1.37596574254306, -0.293803152734021, 0.279798031841214, -0.145361714815161, -0.252773122530705, 0.0357642251788156, 529.0)
input_array = np.asarray(input_data)
input_array_reshaped = input_array.reshape(1,-1)
prediction = model.predict(input_array_reshaped)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
if (prediction[0] == 0):
  print('The credit card transaction is legit')

else:
  print('The credit card transaction is fraudulent')

The credit card transaction is fraudulent

Getting the parameters of a fraudulent transaction

In [ ]:
credit_card_df[credit_card_df['Class'] == 1].index

Int64Index([   541,    623,   4920,   6108,   6329,   6331,   6334,   6336,
              6338,   6427,
            ...
            274382, 274475, 275992, 276071, 276864, 279863, 280143, 280149,
            281144, 281674],
           dtype='int64', length=492)

In [ ]:
print(credit_card_df.iloc[623, :].tolist())

[472.0, -3.0435406239976, -3.15730712090228, 1.08846277997285, 2.2886436183814, 1.35980512966107, -1.06482252298131, 0.325574266158614, -0.0677936531906277, -0.270952836226548, -0.838586564582682, -0.414575448285725, -0.503140859566824, 0.676501544635863, -1.69202893305906, 2.00063483909015, 0.666779695901966, 0.599717413841732, 1.72532100745514, 0.283344830149495, 2.10233879259444, 0.661695924845707, 0.435477208966341, 1.37596574254306, -0.293803152734021, 0.279798031841214, -0.145361714815161, -0.252773122530705, 0.0357642251788156, 529.0, 1.0]